.users-wrap .grid-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); /* 根据需要调整列宽 */
  gap: 16px;
  background: none;
  box-shadow: none;
}


.users-wrap .user-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; /* 确保子元素分布在容器两侧 */
  background: var(--card);
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1)
  padding: 15px;
  border-radius: 10px;
  flex-basis: calc(40% - 20px); /* 自动适应容器宽度 */
}



.users-wrap .user-card a {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; /* 确保链接内的元素分布在两侧 */
  text-decoration: none; /* 去除链接下划线 */
  color: inherit; /* 继承文字颜色 */
  width: 100%; /* 链接占满整个卡片 */
}

.users-wrap .user-card img {
  border-radius: 64px
  width: 50px;
  height: 50px;
  margin-left: 20px; /* 与文字内容保持间隔 */
  order: 2; /* 将图片放在右侧 */
}

.users-wrap .user-card .name {
  order: 1; /* 确保文字内容在左侧 */
  flex-grow: 1; /* 文字内容占据剩余空间 */
}

@media (max-width: 768px) {
  .users-wrap .user-card {
    flex-basis: 100%; /* 小屏设备上单列显示 */
  }
}

.image-caption
  font-size: 1.1rem
  font-weight: bold


.user-description
  font-size: 0.9rem
  font-style: italic;
  color: var(--text-meta)

.user-note
  font-size: 0.9rem
  font-style: italic;
  color: var(--theme-link)