

.users-wrap .grid-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); /* 根据需要调整列宽 */
  column-gap: 10px;
  row-gap: 10px;
  border-radius: 8px;
  box-shadow: none;
}


.users-wrap .user-card {
  display: flex;
  flex-direction: column; /* 垂直堆叠子元素 */
  align-items: center; /* 水平居中对齐子元素 */
  justify-content: center; /* 垂直居中对齐子元素 */
  background: var(--card);
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 10px;
  flex-basis: calc(50% - 20px); /* 自动适应容器宽度 */
  min-height: 80px;
  transition: background 0.3s ease, box-shadow 0.3s ease; /* 添加过渡动画 */

}

.users-wrap .user-card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* 鼠标悬浮时的阴影加深 */
  @media (prefers-color-scheme: dark) {
    background: var(--theme-link-opaq); /* 暗模式下的背景色变化 */
  }
}

.users-wrap .user-card a {
  display: flex;
  align-items: center; /* 水平居中对齐子元素 */
  justify-content: center; /* 垂直居中对齐子元素 */
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.users-wrap .user-card img {
  border-radius: 64px;
  width: 50px; /* 图片宽度 */
  height: 50px; /* 图片高度 */
  margin-bottom: 10px; /* 图片和名称之间的间隔 */

}



.users-wrap .user-card img {
  border-radius: 64px
  width: 50px;
  height: 50px;
  margin-left: 20px; /* 与文字内容保持间隔 */
  order: 2; /* 将图片放在右侧 */
  transition: transform 0.3s ease; /* 添加变换的过渡动画 */

}

.users-wrap .user-card:hover img {
  transform: scale(1.2) rotate(5deg); /* 鼠标悬浮时缩放和旋转图片 */
}

.users-wrap .user-card .name {
  order: 1; /* 确保文字内容在左侧 */
  flex-grow: 1; /* 文字内容占据剩余空间 */
}

@media (max-width: 768px) {
  .users-wrap .user-card {
    flex-basis: 100%; /* 小屏设备上单列显示 */
  }
}

.image-caption
  font-size: 1rem
  font-weight: bold


.user-description
  font-size: 0.8rem
  font-style: italic;
  color: var(--text-meta)

.user-note
  font-size: 0.8rem
  color: var(--theme-link)