<%
const content = theme.footer.content?.replace('{author.name}', (config.author || 'Anonymity'))?.replace('{theme.name}', stellar_info('name'))?.replace('{theme.version}', stellar_info('version'))?.replace('{theme.tree}', stellar_info('tree'))
function layoutDiv() {
  var el = ''
  el += `<footer class="page-footer${scrollreveal(' ')} footnote">`
  el += '<hr>'
  // sitemap
  if (theme.footer.sitemap && Object.keys(theme.footer.sitemap).length > 0) {
    el += '<div class="sitemap">'
    for (let group of Object.keys(theme.footer.sitemap)) {
      let items = theme.footer.sitemap[group]
      if (items == undefined || items.length == 0) {
        continue
      }
      el += '<div class="sitemap-group">'
      el += '<span class="fs15">' + group + '</span>'
      items.forEach((item, i) => {
        el += '<a href="' + url_for(md_link(item)) + '">'
        el += __(md_text(item))
        el += '</a>'
      });
      el += '</div>'
    }
    el += '</div>'
  }
  // footer content
  el += '<div class="text">'
  if (content) {
    el += markdown(content)
  }
  el += '<span class="totalcount">收集了 ' + site.posts.length + ' 颗星星 ✧</span><span class="post-count"> 共 ' + totalcount(site) + ' 颗星尘，</span>'
  el += '&emsp;<button id="toggleButton" style="font-family: \'IM Fell DW Pica\'; background-color: var(--tag-bg-color); color: var(--tag-text-color); border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s, color 0.3s;">Let it snow!</button><script src="/js/snowflake.js"></script>';
  el += '</div>'
  
  // 更新的更新日志部分
  el += '<div class="updates" style="margin-top: 1em; font-size: 0.8em;">'
  el += '<span class="site-info">Umami Analytics Enabled ｜ </span>'
  el += '<a href="/about/#-swig3-span-stylefont-family-jiangxizhuokai-font-weight400站点更新日志span" style="font-weight: bold; text-decoration: none;">站点更新日志</a>'
  el += '</div>'
  
  el += '</footer>'



  // Add dynamic message based on word count
  el += `<script>
    document.addEventListener("DOMContentLoaded", function() {
      var footer = document.querySelector('.page-footer'); // 确保只获取footer内的元素
      var countSpan = footer.querySelector('.post-count');
      var words = countSpan.innerText.match(/(\\d+(\\.\\d+)?)([kKwW])?/);
      var numWords = 0;
      if (words[3] === 'w' || words[3] === 'W') {
        numWords = parseFloat(words[1]) * 10000; // Convert 'w' to a full number
      } else if (words[3] === 'k' || words[3] === 'K') {
        numWords = parseFloat(words[1]) * 1000; // Convert 'k' to a full number
      } else {
        numWords = parseInt(words[1], 10); // Directly parse numbers without letters
      }
      var message = document.createElement('span');
      message.className = 'post-count'; // Assign class
      const gradeChart = [
      {minpercent: 40, letter: "好像写完一本我国著名的四大名著了啊"},
      {minpercent: 35, letter: "好像写完一本 东野圭吾 的《白夜行》了啊"},
      {minpercent: 34, letter: "好像写完一本 雨果 的《巴黎圣母院》了啊"},
      {minpercent: 32, letter: "好像写完一本 艾米莉·勃朗特 的《呼啸山庄》了啊"},
      {minpercent: 31, letter: "好像写完一本 阿来 的《尘埃落定》了啊"},
      {minpercent: 30, letter: "好像写完一本 茅盾 的《子夜》了啊"},
      {minpercent: 28, letter: "好像写完一本 张炜 的《古船》了啊"},
      {minpercent: 25, letter: "好像写完一本 钱钟书 的《围城》了啊"},
      {minpercent: 23, letter: "好像写完一本 简·奥斯汀 的《傲慢与偏见》了啊"},
      {minpercent: 22, letter: "好像写完一本 莫泊桑 的《一生》了啊"},
      {minpercent: 21, letter: "好像写完一本 东野圭吾 的《解忧杂货店》了啊"},
      {minpercent: 20, letter: "好像写完一本 巴金 的《寒夜》了啊"},
      {minpercent: 19, letter: "好像写完一本 亚米契斯 的《爱的教育》了啊"},
      {minpercent: 18, letter: "好像写完一本 沈从文 的《边城》了啊"},
      {minpercent: 17, letter: "好像写完一本 马克·吐温 的《汤姆·索亚历险记》了啊"},
      {minpercent: 16, letter: "好像写完一本 曹禺 的《日出》了啊"},
      {minpercent: 15, letter: "好像写完一本 伯内特 的《秘密花园》了啊"},
      {minpercent: 14, letter: "好像写完一本 史铁生 的《宿命的写作》了啊"},
      {minpercent: 13, letter: "好像写完一本 曹禺 的《雷雨》了啊"},
      {minpercent: 12, letter: "好像写完一本 余华 的《活着》了啊"},
      {minpercent: 11, letter: "好像写完一本 鲁迅 的《彷徨》了啊"},
      {minpercent: 10, letter: "好像写完一本 马克·吐温 的《王子与乞丐》了啊"},
      {minpercent: 9, letter: "好像写完一本 林海音 的《城南旧事》了啊"},
      {minpercent: 7, letter: "好像写完一本 鲁迅 的《呐喊》了啊"},
      {minpercent: 5, letter: "好像写完一本 埃克苏佩里 的《小王子》了啊"},
      ];
      const grade = gradeChart.find(grade => numWords >= grade.minpercent * 10000);
      message.innerText = grade ? grade.letter : "还在努力更新中.. 加油！加油啦！";
      countSpan.parentNode.insertBefore(message, countSpan.nextSibling);
    });
  </script>`;
  
  return el
}
%>
<%- layoutDiv() %>
