<%
const poster = post.poster;
var obj = {
  image: post.cover
};
if (poster) {
  obj.headline = poster.headline;
  obj.topic = poster.topic;
  obj.caption = poster.caption;
  obj.color = poster.color;
  obj.position = poster.position;
}
function div_default() {
  var el = '';
  el += '<article class="md-text">';

  // 封面
  if (obj.image || theme.article.auto_cover) {
    var cover_url;
    if (obj.image != undefined) {
      if (obj.image.includes('/')) {
        cover_url = obj.image;
      } else {
        cover_url = 'https://source.unsplash.com/1280x640/?' + obj.image;
      }
    } else {
      // 自动以 tags 作为关键词搜索封面
      if (post.tags) {
        var params = '';
        post.tags.reverse().forEach((tag, i) => {
          if (i > 0) {
            params += ',';
          }
          params += tag.name;
        });
        cover_url = 'https://source.unsplash.com/1280x640/?' + params;
      } else {
        cover_url = 'https://source.unsplash.com/random/1280x640';
      }
    }
    if (cover_url) {
      el += '<div class="post-cover">';
      el += '<img src="' + cover_url + '"/>';
      el += '</div>';
    }
  }

  // meta
  el += '<div class="meta cap">';
  el += '<span class="cap" id="post-meta">';
 
  el += icon('default:calendar')
  // time
  el += `<time datetime="${date_xml(post.date)}" title="${date(post.date, config.date_format)}">${moment(post.date).fromNow()}</time>`
  // 字数统计
  el += '<span class="post-count">&emsp;'+ wordcount(post.content) +' 字</span>';
  // el += '<span class="flex-row" id="post-words"><span>&nbsp;&nbsp;&nbsp;' + wordcount(post.content) + ' 字</span><span class="sep updated"></span><span class="text updated">' + min2read(post.content, {cn: 500, en: 260}) + ' 分钟</span></span>';

  el += '</span>';
  el += '</div>';

  // 标题
  el += '<h2 class="post-title">';
  el += post.title ? post.title : date(post.date, config.date_format);
  // Add topic label if it exists
  if (post.topic && post.topic.length > 0) {
    el += ' <span class="topic-label">' + '<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="m20.83 10.715l-.518 1.932c-.605 2.255-.907 3.383-1.592 4.114a4 4 0 0 1-2.01 1.161q-.145.034-.295.052c-.915.113-2.032-.186-4.064-.73c-2.255-.605-3.383-.907-4.114-1.592a4 4 0 0 1-1.161-2.011c-.228-.976.074-2.103.679-4.358l.517-1.932l.244-.905c.455-1.666.761-2.583 1.348-3.21a4 4 0 0 1 2.01-1.16c.976-.228 2.104.074 4.36.679c2.254.604 3.382.906 4.113 1.59a4 4 0 0 1 1.161 2.012c.228.976-.075 2.103-.679 4.358m-9.778-.91a.75.75 0 0 1 .919-.53l4.83 1.295a.75.75 0 1 1-.389 1.448l-4.83-1.294a.75.75 0 0 1-.53-.918m-.776 2.898a.75.75 0 0 1 .918-.53l2.898.777a.75.75 0 1 1-.388 1.448l-2.898-.776a.75.75 0 0 1-.53-.919" clip-rule="evenodd"/><path fill="currentColor" d="M16.415 17.975a4 4 0 0 1-1.068 1.677c-.731.685-1.859.987-4.114 1.591s-3.383.907-4.358.679a4 4 0 0 1-2.011-1.161c-.685-.731-.988-1.859-1.592-4.114l-.517-1.932c-.605-2.255-.907-3.383-.68-4.358a4 4 0 0 1 1.162-2.011c.731-.685 1.859-.987 4.114-1.592q.638-.172 1.165-.309l-.244.906l-.517 1.932c-.605 2.255-.907 3.382-.68 4.358a4 4 0 0 0 1.162 2.011c.731.685 1.859.987 4.114 1.592c2.032.544 3.149.843 4.064.73" opacity=".5"/></svg>合集' + '</span>';
  }
  el += '</h2>';

  // 摘要
  el += '<div class="excerpt';
  if (theme.plugins.heti?.enable) {
    el += ' heti';
  }
  el += '">';
  el += '<p>';
  if (post.excerpt) {
    el += strip_html(post.excerpt);
  } else if (post.description) {
    el += post.description;
  } else if (post.content && theme.article.auto_excerpt > 0) {
    el += truncate(strip_html(post.content), {length: theme.article.auto_excerpt});
  }
  el += '</p>';
  el += '</div>';

  el += '<div class="meta cap">';
    // cat categories

  if (post.categories && post.categories.length > 0) {
    if (post.layout === 'post' && post.categories && post.categories.length > 0) {
      var cats = [];
      if (post.categories) {
        post.categories.forEach((cat, i) => {
          cats.push(cat.name);
        });
      }
      if (cats.length > 0) {
        let cat = cats.shift();
        el += '<span class="cap breadcrumb"' + category_color(cat) + '>';
        el += icon('default:category')
        el += `<span>${cat}</span>`
        el += '</span>';
      }
    }
  }

  // cat tags
  if (post.tags && post.tags.length > 0) {
    el += '<span class="cap tags">';
    el += post.tags.map(tag => `<span style="background-color: var(--tag-bg-color); padding: 0px 6px; border-radius: 5px; color: var(--tag-text-color); line-height: 1.5;">${icon('default:tag')}<span>${tag.name}</span></span>`).join('');
    el += '</span>';
  }

  if (post.sticky) {
    el += `<span class="pin">${icon('default:pin')}</span>`
  }
  el += '</div>';
  el += '</article>';
  return el;
}

function div_photo() {
  var el = '';
  el += '<div class="cover">';
  el += '<img src="' + obj.image + '"' + 
        (obj.position ? ' style="object-position: center ' + obj.position + ';"' : '') + 
        '/>';
  if (obj.headline || obj.topic || obj.caption) {
    el += '<div class="cover-info"';
    if (obj.color) {
      el += 'style="color:' + obj.color + '"';
    }
    if (obj.topic) {
      el += 'position="top">';
    } else {
      el += 'position="bottom">';
    }
    if (obj.topic) {
      el += '<div class="cap">' + obj.topic + '</div>';
    }
    if (obj.headline) {
      el += '<div class="title">' + obj.headline + '</div>';
    }
    if (obj.caption) {
      el += '<div class="cap">' + obj.caption + '</div>';
    }
    el += '</div>';

  }
  el += '</div>';
  return el;
}

function div() {
  if (obj.image && obj.image.length > 0 && obj.headline != undefined) {
    return div_photo();
  }
  return div_default();
}
%>
<%- div() %>