.widget-wrapper.tagcloud .widget-body
  border-radius: $border-card
  padding: 12px 16px
  background: var(--alpha50)
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); // 添加阴影效果
  a  
    word-break: break-word
    color: var(--text-p2)
    line-height: 1.5
    font-family: "LXGW WenKai Screen"
    &:hover
      color: $color-hover
