.widget-wrapper.webinfo
  .widget-body
    display: flex
    justify-content: space-evenly
    align-items: center
    border-radius: $border-card
    padding: 8px 0px
    background: var(--card)
    border: 1px solid var(--block-border)

    .webinfo-item
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      padding: 12 0

      .webinfo-label
        font-size: 0.9em
        margin-bottom: 8px
        margin-top: 8px

      .webinfo-value
        font-size: 1.1em
        font-weight: bold
        margin-bottom: 8px
